<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Moder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>251AA8A91A8D650400209907</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>251AA8BE1A8D650400209907</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>251BFFE61ADDA718003F860A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>251BFFFB1ADDA718003F860A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
